<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats statsStyle">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Views Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron mainAreaHome">
  <h1>Welcome to the EXPRESS</h1>

  <h2>
     Express your views  
  </h2>
  
 
<%= link_to "Sign up now!", '/signIn', class: "btn btn-lg btn-primary signUpBtn" %>
  
</div>

<% end %>





